In [8]:
print("14 Akash Choudhary\n")

string1 = "Hello, "
string2 = "World!"

concatenated_string = string1 + string2
print("Concatenated String:", concatenated_string)

length_of_string = len(concatenated_string)
print("Length of String:", length_of_string)

first_char = concatenated_string[0]
last_char = concatenated_string[-1]
print("First Character:", first_char)
print("Last Character:", last_char)

substring = concatenated_string[7:12]
print("Substring:", substring)

repeated_string = string1 * 3
print("Repeated String:", repeated_string)

uppercase_string = string1.upper()
print("Uppercase:", uppercase_string)

lowercase_string = string2.lower()
print("Lowercase:", lowercase_string)

replaced_string = concatenated_string.replace('World', 'Moto')
print("Replaced String:", replaced_string)

contains_substring = "World" in concatenated_string
print("Contains 'World':", contains_substring)

count_occurrences = replaced_string.count('o')
print("Occurrences of 'o':", count_occurrences)

formatted_string = "'{}' is a voice modulation of Motorola.".format(replaced_string)
print("Formatted String:", formatted_string)

14 Akash Choudhary

Concatenated String: Hello, World!
Length of String: 13
First Character: H
Last Character: !
Substring: World
Repeated String: Hello, Hello, Hello,
Uppercase: HELLO,
Lowercase: world!
Replaced String: Hello, Moto!
Contains 'World': True
Occurrences of 'o': 3
Formatted String: 'Hello, Moto!' is a voice modulation of Motorola.

In [90]:
print("14 Akash Choudhary\n")

sample_string = "Twinkle, twinkle, little star,. How I wonder what you are!. Up above the world so high,. Like a diamond in the sky.. Twinkle, twinkle, little star,. How I wonder what you are!"

lines = sample_string.split('. ')

for i, line in enumerate(lines):
    if i == 0 or i == 4:
        print(line)
    else:
        print(" " * i * 4 + line)

14 Akash Choudhary

Twinkle, twinkle, little star,
    How I wonder what you are!
        Up above the world so high,
            Like a diamond in the sky.
Twinkle, twinkle, little star,
                    How I wonder what you are!

In [96]:
print("14 Akash Choudhary\n")

set1 = {1, 2, 3, 4, 5}
print("Set 1:", set1)

set2 = {4, 5, 6, 7, 8}
print("Set 2:", set2)

union_set = set1.union(set2)
print("Union:", union_set)

intersection_set = set1.intersection(set2)
print("Intersection:", intersection_set)

set1.add(6)
print("After adding element to set1:", set1)

set2.remove(6)
print("After removing element from set2:", set2)

14 Akash Choudhary

Set 1: {1, 2, 3, 4, 5}
Set 2: {4, 5, 6, 7, 8}
Union: {1, 2, 3, 4, 5, 6, 7, 8}
Intersection: {4, 5}
After adding element to set1: {1, 2, 3, 4, 5, 6}
After removing element from set2: {4, 5, 7, 8}

In [98]:
print("14 Akash Choudhary\n")

my_list = [1, 2, 3, 4, 5]
print("Original List:", my_list)

my_list.append(6)
print("After Appending 6:", my_list)

my_list.remove(3)
print("After Removing 3:", my_list)

print("Element at index 2:", my_list[2])

my_list[1] = 10
print("After Modifying Element at Index 1:", my_list)

list_length = len(my_list)
print("Length of the List:", list_length)

subset = my_list[1:4]
print("Subset of the List:", subset)

reversed_list = my_list[::-1]
print("Reverse List:", reversed_list)

14 Akash Choudhary

Original List: [1, 2, 3, 4, 5]
After Appending 6: [1, 2, 3, 4, 5, 6]
After Removing 3: [1, 2, 4, 5, 6]
Element at index 2: 4
After Modifying Element at Index 1: [1, 10, 4, 5, 6]
Length of the List: 5
Subset of the List: [10, 4, 5]
Reverse List: [6, 5, 4, 10, 1]

In [19]:
print("14 Akash Choudhary\n")

my_dict = {}

person = {
    'name': 'Annupurna Gupta',
    'age': 21,
    'city': 'Mumbai'
}

print("Dictionary:", person)

print("Name:", person['name'])
print("Age:", person['age'])

person['age'] = 31
print("Dictionary (Age Updated):", person)

person['occupation'] = 'Software Tester'
print("Dictionary (Key-Value Added):", person)

del person['city']
print("Dictionary (Key-Value Deleted):", person)

print("Dictionary Keys:", person.keys())

14 Akash Choudhary

Dictionary: {'name': 'Annupurna Gupta', 'age': 21, 'city': 'Mumbai'}
Name: Annupurna Gupta
Age: 21
Dictionary (Age Updated): {'name': 'Annupurna Gupta', 'age': 31, 'city': 'Mumbai'}
Dictionary (Key-Value Added): {'name': 'Annupurna Gupta', 'age': 31, 'city': 'Mumbai', 'occupation': 'Software Tester'}
Dictionary (Key-Value Deleted): {'name': 'Annupurna Gupta', 'age': 31, 'occupation': 'Software Tester'}
Dictionary Keys: dict_keys(['name', 'age', 'occupation'])

In [102]:
print("14 Akash Choudhary\n")

result_addition = 5 + 3
print("Addition Result:", result_addition)

result_subtraction = 8 - 3
print("Subtraction Result:", result_subtraction)

result_multiplication = 4 * 6
print("Multiplication Result:", result_multiplication)

result_division = 12 / 3
print("Division Result:", result_division)

result_exponentiation = 2 ** 3
print("Exponentiation Result:", result_exponentiation)

result_modulo = 10 % 3
print("Modulo Result:", result_modulo)

result_floor_division = 15 // 4
print("Floor Division Result:", result_floor_division)

import math

result_sqrt = math.sqrt(25)
print("Square Root Result:", result_sqrt)

roundof_result = round(12.682)
print("RoundOf Result:", roundof_result)

14 Akash Choudhary

Addition Result: 8
Subtraction Result: 5
Multiplication Result: 24
Division Result: 4.0
Exponentiation Result: 8
Modulo Result: 1
Floor Division Result: 3
Square Root Result: 5.0
RoundOf Result: 13

In [104]:
print("14 Akash Choudhary\n")

import math

def calculate_circle_area(radius):
    area = math.pi * radius**2
    return area

radius = float(input("Enter the radius of the circle: "))

area = calculate_circle_area(radius)
print(f"The area of the circle with radius {radius} is: {area:.2f}")

14 Akash Choudhary

Enter the radius of the circle:  4

The area of the circle with radius 4.0 is: 50.27

In [106]:
print("14 Akash Choudhary\n")

input_numbers = input("Enter a sequence of comma-separated numbers: ")

numbers_list = [int(num) for num in input_numbers.split(',')]
numbers_tuple = tuple(numbers_list)

print("Generated List:", numbers_list)
print("Generated Tuple:", numbers_tuple)

14 Akash Choudhary

Enter a sequence of comma-separated numbers:  4, 6, 3, 10

Generated List: [4, 6, 3, 10]
Generated Tuple: (4, 6, 3, 10)

In [108]:
print("14 Akash Choudhary\n")

color_list = ["Red", "Green", "White", "Black"]

print("Color List:", color_list)
print("First Color:", color_list[0])
print("Last Color:", color_list[-1])

14 Akash Choudhary

Color List: ['Red', 'Green', 'White', 'Black']
First Color: Red
Last Color: Black

In [110]:
print("14 Akash Choudhary\n")

from datetime import date

date1 = date(2014, 7, 2)
date2 = date(2014, 7, 11)

days_difference = (date2 - date1).days

print(f"Number of days between {date1} and {date2}: {days_difference} days")

14 Akash Choudhary

Number of days between 2014-07-02 and 2014-07-11: 9 days

In [3]:
print("14 Akash Choudhary\n")

import datetime

current_datetime = datetime.datetime.now()
formatted_datetime = current_datetime.strftime("%Y-%m-%d %H:%M:%S")

print("Current Date and Time:", formatted_datetime)

14 Akash Choudhary

Current Date and Time: 2024-02-24 13:55:35

In [5]:
print("14 Akash Choudhary\n")

import calendar

year = int(input("Enter the year: "))
month = int(input("Enter the month (1-12): "))

cal = calendar.month(year, month)
print(cal)

14 Akash Choudhary

Enter the year:  2001
Enter the month (1-12):  8

    August 2001
Mo Tu We Th Fr Sa Su
       1  2  3  4  5
 6  7  8  9 10 11 12
13 14 15 16 17 18 19
20 21 22 23 24 25 26
27 28 29 30 31

In [11]:
print("14 Akash Choudhary\n")

import numpy as np

array1 = np.array([1, 2, 3, 4])
array2 = np.array([5, 6, 7, 8])

result_array = np.add(array1, array2)

print("Array 1:", array1)
print("Array 2:", array2)
print("Result after addition:", result_array)

14 Akash Choudhary

Array 1: [1 2 3 4]
Array 2: [5 6 7 8]
Result after addition: [ 6  8 10 12]

In [24]:
print("14 Akash Choudhary\n")

import pandas as pd

employee_data = pd.read_csv("Book1.csv")
print("Employee Data:")
print(employee_data)

14 Akash Choudhary

Employee Data:
   Employee Id         Full Name                  Job Title
0          101   Akash Choudhary            Software Tester
1          102  Sanjeevani Gupta       Full Stack Developer
2          103        Nidhi Kini             UI/UX Designer
3          104      Siddhi Kotre        Front End Developer
4          105       Yash Mewada         Back End Developer
5          106   Annapurna Gupta  Senior Software Developer