In [1]:
print("14 Akash Choudhary")

## Iris Dataset Analysis and Model Building

# This notebook performs the following tasks:
# 1. Data Loading and Preprocessing
# 2. Exploratory Data Analysis (EDA)
# 3. Data Encoding
# 4. Model Training
# 5. Model Evaluation
# 6. Model Saving and Loading

# Let's start by importing the necessary libraries and loading the data.
# Import necessary libraries
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

# Load the Iris dataset
df = pd.read_csv('Iris.csv')

# Display the first few rows of the dataframe
df.head()

14 Akash Choudhary

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [2]:
print("14 Akash Choudhary")

## Data Preprocessing

# Drop the 'Id' column and perform some basic data checks.
# Drop the 'Id' column as it is not needed for our analysis
df = df.drop(columns=['Id'])

# Display the first few rows of the updated dataframe
df.head()

14 Akash Choudhary

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0            5.1           3.5            1.4           0.2  Iris-setosa
1            4.9           3.0            1.4           0.2  Iris-setosa
2            4.7           3.2            1.3           0.2  Iris-setosa
3            4.6           3.1            1.5           0.2  Iris-setosa
4            5.0           3.6            1.4           0.2  Iris-setosa

In [3]:
print("14 Akash Choudhary")

## Exploratory Data Analysis (EDA)

# Perform a basic descriptive statistics check and check for null values.
# Display basic statistical details
df.describe()

14 Akash Choudhary

       SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count     150.000000    150.000000     150.000000    150.000000
mean        5.843333      3.054000       3.758667      1.198667
std         0.828066      0.433594       1.764420      0.763161
min         4.300000      2.000000       1.000000      0.100000
25%         5.100000      2.800000       1.600000      0.300000
50%         5.800000      3.000000       4.350000      1.300000
75%         6.400000      3.300000       5.100000      1.800000
max         7.900000      4.400000       6.900000      2.500000

In [4]:
print("14 Akash Choudhary")

# Display information about the dataframe
df.info()

14 Akash Choudhary
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   SepalLengthCm  150 non-null    float64
 1   SepalWidthCm   150 non-null    float64
 2   PetalLengthCm  150 non-null    float64
 3   PetalWidthCm   150 non-null    float64
 4   Species        150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [5]:
print("14 Akash Choudhary")

# Display the count of each species
df['Species'].value_counts()

14 Akash Choudhary

Species
Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: count, dtype: int64

In [6]:
print("14 Akash Choudhary")

# Check for any missing values
df.isnull().sum()

14 Akash Choudhary

SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

In [7]:
print("14 Akash Choudhary")

## Data Encoding

# Encode the categorical 'Species' column into numerical values.

# from sklearn.preprocessing import LabelEncoder

# Initialize the LabelEncoder
# label_encoder = LabelEncoder()

# Encode the 'Species' column
# df['Species'] = label_encoder.fit_transform(df['Species'])

# Display the first few rows of the updated dataframe
# df.head()

14 Akash Choudhary

In [8]:
print("14 Akash Choudhary")

## Model Training

# Split the dataset into training and testing sets, and train a Logistic Regression model.
# Import necessary libraries
from sklearn.model_selection import train_test_split

# Separate features and target variable
X = df.drop(columns=['Species'])
Y = df['Species']

# Split the dataset into training and testing sets
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.30)

# Import necessary libraries
from sklearn.linear_model import LogisticRegression

# Initialize the Logistic Regression model
model = LogisticRegression()

# Train the model
model.fit(X_train, Y_train)

14 Akash Choudhary

LogisticRegression()

In [9]:
print("14 Akash Choudhary")

# Evaluate the model
print("Accuracy: ", model.score(X_test, Y_test) * 100)

14 Akash Choudhary
Accuracy:  95.55555555555556

In [10]:
print("14 Akash Choudhary")

## Model Saving

# Save the trained model using pickle for future use.
# Import necessary libraries
import pickle

# Define the filename for the saved model
filename = "savemodel.sav"

# Save the model to disk
pickle.dump(model, open(filename, 'wb'))

14 Akash Choudhary

In [11]:
print("14 Akash Choudhary")

## Model Loading and Prediction

# Load the saved model and make a prediction.
# Display the first few rows of the test set
X_test.head()

14 Akash Choudhary

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
57             4.9           2.4            3.3           1.0
42             4.4           3.2            1.3           0.2
102            7.1           3.0            5.9           2.1
118            7.7           2.6            6.9           2.3
111            6.4           2.7            5.3           1.9

In [12]:
print("14 Akash Choudhary")

# Load the saved model
loaded_model = pickle.load(open(filename, 'rb'))

# Make a prediction with the loaded model
loaded_model.predict([[6.0, 2.2, 4.0, 1.0]])

14 Akash Choudhary

array(['Iris-versicolor'], dtype=object)